.footer-title {
  font-weight: 600;
  font-size: 25px;
  color: var(--primary);
}
@media (max-width: 768px) {
  .footer-title {
    font-size: 20px;
  }
  .footer-section {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }
}
.footer-section {
  width: calc(100% - 50px);
  color: var(--text_primary);
  font-size: 16px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  transition: all 0.3s ease;
}
@media (max-width: 450px) {
  .footer-section {
    font-size: 12px;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }
}

.footer-item:hover {
  color: var(--primary);
}
.socialMedia-icons {
  width: calc(100% - 50px);
  color: var(--text_primary);
  font-size: 16px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  transition: all 0.3s ease;
}
.socialMedia-icon:hover {
  color: var(--primary);
}
