.contact-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card);
  padding: 30px;
  border-radius: 16px;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  margin-top: 10px;
  gap: 12px;
}
@media (max-width: 768px) {
  .contact-form {
    max-width: calc(95% - 50px);
    padding: 20px 15px;
  }
}
@media (max-width: 450px) {
  .contact-form {
    max-width: calc(95% - 25px);
    padding: 20px 15px;
  }
}

.contact-title {
  color: var(--text_primary);
  font-size: 24px;
  margin-bottom: 6px;
  font-weight: 600;
}

.contact-input {
  width: calc(100% - 20px);
  background-color: transparent;
  border: 1px solid var(--text_secondary);
  outline: none;
  font-size: 16px;
  color: var(--text_primary);
  border-radius: 12px;
  padding: 10px 16px;
}
.contact-input:focus {
  border: 1px solid var(--primary);
  background-color: transparent;
}

@media (max-width: 600px) {
  .contact-input {
    width: calc(100% - 15px);
    font-size: 12px;
  }
  .contact-submitBtn {
    font-size: 12px;
    width: calc(100% - 15px);
  }
  .contact-title {
    font-size: 18px;
  }
}

.contact-submitBtn {
  width: calc(100% - 20px);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  padding: 13px 16px;
  margin-top: 2px;
  border-radius: 12px;
  border: none;
  color: var(--text_primary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-submitBtn:hover {
  opacity: 0.8;
}
