.hero-container {
  min-height: 100vh;
  width: 100vw;
  background: #191924;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 80px 40px;
  padding-top: 200px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
}
@media (max-width: 1000px) {
  .hero-container {
    min-height: fit-content;
    padding: 60px 16px;
  }
}
@media (max-width: 640px) {
  .hero-container {
    min-height: fit-content;
    padding: 30px 16px;
  }
  .hero-right-container {
    margin-bottom: 30px;
  }
  .hero-title {
    font-size: 40px;
    line-height: 48px;
  }
  .text-loop {
    font-size: 22px;
    line-height: 48px;
  }
  .hero-subTitle {
    font-size: 16px;
    line-height: 32px;
  }
  .resume-button {
    padding: 12px 25px;
    font-size: 18px;
  }
  /* .hero-left-container {
    order: 2;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero-right-container {
    order: 1;
    margin-bottom: 30px;
  } */
  .hero-img {
    max-width: 280px;
    max-height: 280px;
  }
}

.hero-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  padding: 120px;
  top: 65%;
  left: 48%;
  max-width: 1360px;
  overflow: hidden;
  padding: 0 30px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 960px) {
  .hero-bg {
    justify-content: center;
    padding: 0 0px;
    top: 60%;
    left: 55%;
    scale: (1.1);
  }
  .hero-inner-container {
    flex-direction: column;
  }
  .hero-left-container {
    order: 2;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-right-container {
    order: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  .hero-title {
    text-align: center;
  }
  .text-loop {
    text-align: center;
  }
  .hero-subTitle {
    text-align: center;
  }
}

.hero-inner-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1100px;
}

.hero-left-container {
  width: 100%;
  /* order: 1; */
}

.hero-title {
  font-size: 50px;
  line-height: 68px;
  font-weight: 700;
  color: #f2f3f4;
}
@media (max-width: 300px) {
  .hero-title {
    font-size: 30px;
    line-height: 35px;
  }
  .text-loop {
    font-size: 20px;
    line-height: 48px;
    flex-direction: column;
    gap: 0;
  }
}

.text-loop {
  font-size: 32px;
  font-weight: 600;
  line-height: 68px;
  display: flex;
  gap: 12px;
  color: #f2f3f4;
}
.text-loop span {
  color: #854ce6;
  font-size: 32px;
}

.hero-subTitle {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 42px;
  color: #b1b2b3;
  /* text-align: center; */
}

.resume-button {
  text-decoration: none;
  width: 95%;
  max-width: 300px;
  text-align: center;
  padding: 16px 50px;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease;
  background: linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  box-shadow: 20px 20px 60px #1f2634, -20px -20px 60px #1f2634;
  border: none;
}
.resume-button:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
  box-shadow: 20px 20px 60px #1f2634;
  filter: brightness(1);
}

.hero-right-container {
  width: 100%;
  /* order: 2; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 12px;
}

.hero-img{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  border: 2px solid #854CE6;
  /* object-fit: cover;
  object-position: center; */
}
@media (max-width: 768px) {
  .hero-img{
    max-width: 400px;
    max-height: 400px;
  }
}
