.skill-card {
  width: 100%;
  background: #171721;
  border: 0.1px solid #854ce6;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 20px 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .skill-card {
    padding: 10px 36px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .skill-list {
    justify-content: center;
  }
  .skill-item {
    font-size: 14px;
    padding: 8px 12px;
  }
}
@media (max-width: 500px) {
  .skill-card {
    padding: 10px 36px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .skill-item {
    font-size: 14px;
    padding: 6px 12px;
  }
}

.skill-title {
  font-size: 28px;
  font-weight: 600;
  color: #b1b2b3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex: 10;
}

.skill-item {
  font-size: 16px;
  font-weight: 400;
  color: #f2f3f4;
  border: 1px solid #b1b2b3;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (max-width: 400px) {
  .skill-item {
    font-size: 10px;
    padding: 6px 10px;
  }
}

.skill-img {
  width: 24px;
  height: 24px;
}
